.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
}

#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/dino.png);
    background-size: 50px 50px;
    position: relative;
    left: 50px;
    top: 150px;
    background-color: burlywood;
}

.jump {
    animation: jump 0.6s linear;
}


@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 90px;
    }
    50% {
        top: 60px;
    }
    80% {
        top: 110px;
    }
    100%{
        top: 150px;
    }
}

#cactus {
    width: 20px;
    height: 40px;
    position: relative;
    top: 110px;
    left: 580px;
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    background-color: cadetblue;

    animation: block 3s infinite linear;
}

@keyframes block {
    0% {
        left: 600px;
    }
    100%{
        left: -20px;
    }
}